/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2019, 1:59:31 PM
    Author     : 987132
*/
body {
  background-image: url('background.png');
  font-family: verdana;
  font-size: 8px;
  margin: 0;
}

div.banner {
  background-image: url('bannerbg.png');
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 3px 3px #999999;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
}

.content::after {
  content: "";
  clear: both;
  display: table;
}

div.content {
  width: 808px;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  border-color: gray;
  margin: auto;
}

div.reviews {
  width: 550px;
  
}

div.rotten {
  font-family: verdana;
  font-size: 48px;
  font-weight: bold;
  color: red;
  background-image: url('rbg.png');
  border-top-left-radius: 17px;
}

img.rottenbig {
  vertical-align: bottom;
  border-radius: 17px;
}

div.row {
  padding: 1%; 
  overflow: auto; 
}
div.column {
  width: 50%;
  float: left;
  padding: 1%;
}

p.review {
  font-family: verdana;
  font-size: 8px;
  font-weight: bold;
  background-color: #E8DC9B;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px; 
  border-color: gray;
  padding: 8px;
  clear: left;
}

img.review {
  margin: 5px;
  float: left;
  
}

.general {
  background-image: url('overview.png');
  border-top-right-radius: 17px;
}

img.general {
  border-radius: 17px;
}

div.overview {
  background-color: #A2B964;
  width: 250px;
  font-size: 8px;
  font-family: verdana;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

dt {
  padding-top: 10px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.count {
  width: 100%;
  background-color: #A2B964;
  padding: 5px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  text-align: center;
}

div.validator {
  position: fixed;
  bottom: 0;
  right: 0;
}

img.validator {
  opacity: 0.5;
}

