/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2019, 2:41:44 PM
    Author     : 987132
*/

body {
  background-color: white;
}

h1 {
  font-family: verdana;
  color: hotpink;
  text-align: center;
}

input[type=text] {
  width: 30%;
  padding: 10px 15px;
  border: 2px solid lightblue;
  border-radius: 4px;
  font-size: 20px;
}

button {
  padding: 10px 15px;  
  background-color: lightblue;
  color: white;
  border-radius: 4px; 
  font-size: 20px;
}

#definition {
  font-family: verdana;
  font-size: 15px;
  margin: auto;
  width: 50%;
}

#form {
  font-family: verdana;
  font-size: 23px;
  color: navy;
  text-align: center;
}

#validators {
    position: absolute;
    right: 0;
    bottom: 0;
}

