/*
CSE 190 M, Homework 4: NerdLuv
You should link to this provided stylesheet from all of your pages.
You should not need to modify this file.  Your pages should work with it as-is.
*/

* {
	font-family: "Verdana", "Geneva", sans-serif;
}

a {
	color: #F44;
	text-decoration: none;
}

a:hover {
	background-color: #FFA;
}

a img {
	border: none;
}

body {
	background-color: white;
	padding-left: 1em;
}

body > div, form {
	overflow: hidden;
	width: 50em;
}

div {
        padding: 3px;
	overflow: hidden;
}

/* form styles */
label {
	float: left;
	width: 11em;
}

h1 {
	margin-top: 0em;
}

header {
	margin-bottom: 2em;
}

input[type="submit"] {
	background-color: #FAA;
	font-size: 120%;
	font-weight: bold;
}

